<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Bond Master Management Console</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="jumbotron.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>

<body>
<main role="main" class="container my-xl-3">
    <h1 class="display-5">債券マスタリスト</h1>
    <table class="table">
        <tr>
            <th>債券コード</th>
            <th>バージョン</th>
            <th>債券名</th>
            <th>発行年月日</th>
            <th>償還日</th>
            <th>クーポンレート</th>
            <th>単元</th>
            <th>額面</th>
            <th>発行体業種コード</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="bond:${bondList}">
            <td th:text="${bond.getBondCode()}"/>
            <td th:text="${bond.getVersion()}"/>
            <td th:text="${bond.getBondName()}"/>
            <td th:text="${bond.getIssueDate()}"/>
            <td th:text="${bond.getMaturity()}"/>
            <td th:text="${bond.getCouponRate()}"/>
            <td th:text="${bond.getUnit()}"/>
            <td th:text="${bond.getFaceValue()}"/>
            <td th:text="${bond.getIssuerSectorCode()}"/>
            <td><a class="btn btn-default btn-xs"
                   th:href="@{/management/products/bond/{code}/{version}/update(id=${bond.getBondCode()},version=${bond.getVersion()})}">編集</a></td>
            <td>
                <form th:action="@{/management/products/bond/{code}/{version}/(id=${bond.getBondCode()},version=${bond.getVersion()})}" th:method="delete">
                    <input class="btn btn-default btn-xs" type="submit" value="削除" 　onClick="confirm()"/>
                </form>
            </td>
        </tr>
    </table>
    <div class="input_area">
        <a class="btn btn-default" href="/management/products/bond/create">新規作成</a>
    </div>
</main>
</body>

</html>