<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User Information Management Console</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="jumbotron.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-3">404 Not Found</h1>
        <p>お探しのページは存在しません。</p>
        <p><a class="btn btn-info" th:href="@{/}" role="button">HOME画面へ</a></p>
    </div>
</div>
</body>