<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Create New User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="jumbotron.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script language="JavaScript" type="text/javascript">
        function validatePW() {
            var pw1 = document.getElementById("pw1").value;
            var pw2 = document.getElementById("pw2").value;

            if (pw1 === pw2) {
                return true;
            }
            window.alert("確認用パスワードが一致しません。入力をやり直してください。");
            return false;
        }
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" _lpchecked="1">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="pt-0 pb-1 pl-2 pr-3">
        <span>pt-0 pb-1 pl-2 pr-3</span>
    </div>
    <div class="pt-0 pb-1 pl-2 pr-3">
        <span>pt-0 pb-1 pl-2 pr-3</span>
    </div>
    <div class="container">
        <h1>Create New User</h1>
        <form th:action="@{/management/users}" th:method="post" th:object="${userMasterForm}" onSubmit="return validatePW()">
            <div class="form-group">
                <label class="control-label">ユーザ名</label>
                <input class="form-control" type="text" name="user_name" th:field="*{userName}" />
            </div>
            <div class="form-group">
                <label class="control-label">パスワード</label>
                <input class="form-control" id="pw1" type="text" name="password1" th:field="*{password}" />
            </div>
            <div class="form-group">
                <label class="control-label">パスワード再入力</label>
                <input class="form-control" id="pw2" type="text" name="password2" />
            </div>
            <div class="form-group">
                <label class="control-label">ユーザ権限</label>
                <select class="form-control" 　 th:field="*{userAuthentication}">
                <option th:each="userAuth:${auth}" th:value="${userAuth.toString()}" th:inline="text">[[${userAuth.toString()}]]</option>
            </select>
            </div>
            <button class="btn btn-default" type="submit">作成</button>
        </form>
        <div class="pull-right">
            <a class="btn btn-link" href="/management/users">一覧画面へ</a>
        </div>
    </div>
</body>

</html>