<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Bond Master Management Console</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="jumbotron.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <a class="navbar-brand" th:href="@{/}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" _lpchecked="1" th:action="@{/logout}" th:method="post">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">ログアウト</button>
        </form>
    </div>
</nav>
<div class="pt-0 pb-1 pl-2 pr-3">
    <span>pt-0 pb-1 pl-2 pr-3</span>
</div>
<div class="pt-0 pb-1 pl-2 pr-3">
    <span>pt-0 pb-1 pl-2 pr-3</span>
</div>
<main role="main" class="container my-xl-3">
    <h1 class="display-5">債券マスタリスト</h1>
    <table class="table">
        <tr>
            <th>債券コード</th>
            <th>バージョン</th>
            <th>債券名</th>
            <th>発行年月日</th>
            <th>償還日</th>
            <th>クーポンレート</th>
            <th>単元</th>
            <th>額面</th>
            <th>発行体業種コード</th>
        </tr>
        <tr th:each="bond:${bondList}">
            <td th:text="${bond.getBondCode()}"/>
            <td th:text="${bond.getVersion()}"/>
            <td th:text="${bond.getBondName()}"/>
            <td th:text="${#dates.format(bond.getIssueDate(), 'yyyy-MM-dd')}"/>
            <td th:text="${#dates.format(bond.getMaturity(), 'yyyy-MM-dd')}"/>
            <td th:text="${bond.getCouponRate()}"/>
            <td th:text="${bond.getUnit()}"/>
            <td th:text="${bond.getFaceValue()}"/>
            <td th:text="${bond.getIssuerSectorCode()}"/>
        </tr>
    </table>
    <div class="input_area">
        <a class="btn btn-default" href="/management/products/bond/create">新規作成</a>
    </div>
</main>
</body>

</html>