<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User Information Management Console</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="jumbotron.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <a class="navbar-brand" th:href="@{/}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" _lpchecked="1">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-3">ポートフォリオ管理システム</h1>
        <p>日々の損益計算だけでなく、ポートフォリオのリスク計算、レポートの作成を一括で行える（予定）</p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>金融商品情報管理</h2>
            <p>債券、株式、外国為替、その他金融派生商品のマスタデータを管理します。</p>
            <p><a class="btn btn-info" th:href="@{/management/products}" role="button">管理画面へ</a></p>
        </div>
        <div class="col-md-4">
            <h2>ユーザ情報管理</h2>
            <p>アプリケーションのユーザ情報を管理します。</p>
            <p><a class="btn btn-info" th:href="@{/management/user_master}" role="button">管理画面へ</a></p>
        </div>
        <div class="col-md-4">
            <h2>ポートフォリオ管理</h2>
            <p>ポートフォリオの日次での損益管理、月次レポートの作成を行います。</p>
            <p><a class="btn btn-info" th:href="@{/management/portfolio}" role="button">管理画面へ</a></p>
        </div>
    </div>
    <hr>
</div>
</body>

</html>