<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User Information Management Console</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="jumbotron.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script language="JavaScript" type="text/javascript">
        function confirm() {
            var result = confirm('本当に削除しますか？\n（削除実行後はデータを元に戻せません）');
            if (result) {
                window.alert("削除を実行しました。");
                return result;
            } else {
                window.alert("削除をキャンセルしました。");
                return result;
            }
        }
    </script>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <a class="navbar-brand" th:href="@{/}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" _lpchecked="1" th:action="@{/logout}" th:method="post">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">ログアウト</button>
        </form>
    </div>
</nav>
<div class="pt-0 pb-1 pl-2 pr-3">
    <span>pt-0 pb-1 pl-2 pr-3</span>
</div>
<div class="pt-0 pb-1 pl-2 pr-3">
    <span>pt-0 pb-1 pl-2 pr-3</span>
</div>
    <main role="main" class="container my-xl-3">
        <h1 class="display-5">ユーザリスト</h1>
        <table class="table">
            <tr>
                <th>ユーザID</th>
                <th>バージョン</th>
                <th>ユーザ名</th>
                <th>ユーザ権限</th>
                <th>削除フラグ</th>
                <th>ロックフラグ</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="userMaster:${users}">
                <td th:text="${userMaster.getUserId()}" />
                <td th:text="${userMaster.getVersion()}" />
                <td th:text="${userMaster.getUserName()}" />
                <td th:text="${userMaster.getUserAuthentication()}" />
                <td th:text="${userMaster.isDeleted()}" />
                <td th:text="${userMaster.isLocked()}" />
                <td><a class="btn btn-default btn-xs" th:href="@{/management/users/{id}/update(id=${userMaster.getUserId()})}">編集</a></td>
                <td>
                    <form th:action="@{/management/users/{id}(id=${userMaster.getUserId()})}" th:method="delete">
                        <input class="btn btn-default btn-xs" type="submit" value="削除" 　onClick="confirm()" />
                    </form>
                </td>
            </tr>
        </table>
        <div class="input_area">
            <a class="btn btn-default" href="/management/users/create">新規作成</a>
        </div>
    </main>
</body>

</html>